.aboutSection {
    background-color: black;
    padding: 10%;
}

.aboutSection * {
    margin-bottom: 20px;
    line-height: 1.5em;
}

.aboutSection h2 {
    font-size: 2.5em;
    /* margin-bottom: 15px; */
}

.picContainer::after {
    content: "";
    clear: both;
    display: table;
}

.aboutText,
.aboutSection>div>h4 {
    /* border: 1px solid white; */
    width: 60%;
}

#profilePic {
    /* display: inline-block; */
    width: 35%;
    float: right;
    margin-top: -14%;
    padding: 10px;
    /* height: auto; */
    max-width: 500px;
    min-width: 180px;
    border-radius: 50%;
}

@media only screen and (max-width: 1200px) {
    .aboutSection>div>h4 {
        width: 100%;
    }

    #profilePic {
        margin-top: -3%;
    }
}

@media only screen and (max-width: 900px) {
    #profilePic {
        margin: 0;
    }

    .aboutText,
    .aboutSection>div>h4 {
        width: 100%;
        ;
    }

    .aboutSummary {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}