body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #101820;
    color: #FEE715;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.footer-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.footer-text {
    font-size: 1em;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icon {
    margin: 0 10px;
}

.social-icon img {
    width: 24px;
    height: 24px;
}
