.whatIDo {
    background-color: antiquewhite;
    padding: 10%;
    line-height: 1.5em;
}

.whatIDo>* {
    margin-bottom: 20px;
}

.whatIDo>h2 {
    font-size: 2.5em;
    padding-bottom: 5px;
}

.branchTitle {
    display: inline-block;
}

.branch>div>h3 {
    font-size: 1.7em;
}

.branchGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid red; */
    /* grid-template-columns: repeat(auto-fill, minmax(330px, 45%)); */
}

.branch:last-child {
    border-top: 1px solid white;
    border-left: 1px solid white;
}

.branch:nth-child(2) {
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.branch:nth-child(3) {
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.branch:first-child {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

@media only screen and (max-width: 900px) {
    .branchGrid {
        grid-template-columns: 1fr;
    }

    .branch:nth-child(n) {
        border: none;
        border-bottom: 1px solid white;
        /* border-width:medium; */
    }

    .branch:last-child {
        border: none;
    }

    .branch>div>img {
        display: block;
    }
}

.branchGrid>* {
    /* border: 1px solid; */
    padding: 10%;
}